<ion-content [fullscreen]="true" class="content">
  <div class="main">
  <ion-row>
    <ion-col size="3">
      <ion-fab-button class="floating-button">
        <ion-img src="/assets/images/espana.png"></ion-img>
      </ion-fab-button>
    </ion-col>
    <ion-col size="3">
      <ion-fab-button class="floating-button">
        <ion-img src="/assets/images/portugal.png"></ion-img>
      </ion-fab-button>
    </ion-col>
    <ion-col size="3">
      <ion-fab-button class="floating-button">
        <ion-img src="/assets/images/reino-unido.png"></ion-img>
      </ion-fab-button>
    </ion-col>
    <ion-col size="3">
      <ion-fab>
        <ion-fab-button>
          <ion-icon name="chevron-forward-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
          <ion-fab-button>
            <ion-icon name="document"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="color-palette"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="globe"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-col>
  </ion-row>
  <div class="ion-fab-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img
            src="/assets/images/numero-1.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
        </ion-col>
        <ion-col>
          <ion-img
            src="/assets/images/numero-2.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img
            src="/assets/images/numero-3.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
        </ion-col>
        <ion-col>
          <ion-img
            src="/assets/images/numero-4.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img
            src="/assets/images/numero-5.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
        </ion-col>
        <ion-col>
          <ion-img
            src="/assets/images/numero-6.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
</ion-content>
