ion-content {
    --overflow: hidden !important;
    --overscroll-behavior-y: none !important;
    --display: flex;
    --background: rgb(169,203,232);
    --background: radial-gradient(circle, rgba(169,203,232,1) 0%, rgba(255,70,213,1) 53%, rgba(66,137,227,0.958420868347339) 79%, rgba(190,180,198,1) 100%);
}
  
  h1{
    font-family: Mooli;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .top-section,
  .bottom-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .middle-section {
    flex: 2; /* Puedes ajustar el valor según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  .loader {
    position: relative;
    width: 48px;
    height: 48px;
  }
  .loader:before{
      content: "";
      border-left: 24px solid #fff;
      border-right: 24px solid #fff;
      position: absolute;
      height: 24px;
      width: 0;
      left: 50%;
      transform: translateX(-50%);
      top: 0px;
      animation: splitX 1s  linear infinite alternate;
  }
  .loader:after{
    content: '';
    width: 48px;
    height: 24px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom:0;
    animation:moveY 1s linear infinite alternate;
  }
  @keyframes splitX {
    0% {width: 0; transform: translate(-50% , 0)}
    33% {width: 100%; transform: translate(-50% , 0)}
    66% {width: 100%; transform: translate(-50% , 24px)}
    100% {width: 0; transform: translate(-50% , 24px)}
  }

  @keyframes moveY {
    0% , 33% {transform: translateY(0)}
    66% , 100% {transform: translateY(-24px)}
  }

  h1{
    font-family: "LazyDog";
    font-size: 60px;
  }